/* BACKGROUND BLUR */
body::before {
    content: '';
    position: fixed;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);
    z-index: -1;
}

body {
    --sidebar-width: 70px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body:has(.sideBar:hover){ 
    --sidebar-width: 180px;
}

body:has(.sideBar:hover) .menuText {
    opacity: 1;
    transform: translateX(0);
}

body:has(.sideBar:hover) .topSideBar {
    justify-content: space-between;
    padding: 0 0.5rem;
}

body:has(.sideBar:hover) .sideBarLogo {
    opacity: 1;
    transform: scale(1);
    width: auto;
    margin-left: 1rem;
}

body:has(.sideBar:hover) .icon-open {
    display: none;
}

body:has(.sideBar:hover) .icon-close {
    display: block;
}

/* COLLAPSED */
.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    justify-content: flex-start;

    transition: width 0.3s ease;
    overflow: hidden;
}

.sideBar .sideBarLogo {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    width: 0;
    margin: 0;
    overflow: hidden;
}

.topSideBar {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleWrapper {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-close {
    display: none;
}

.toggleSideBarIcon {
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.sideBarLogo {
    height: 70px;
    transition: opacity 0.2s ease, transform 0.2s ease;
    margin-left: 1rem;
}

.sideBarMenu {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: flex-start;
    width: 100%;
}

.sideBarMenuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    width: 100%;
    padding: 0.5rem 0.8rem;

    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.menuText {
    display: inline-block;
    opacity: 0;
    transform: translateX(-8px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    white-space: nowrap;
}

.dashboardIcon,
.recordsIcon{
    height: 1.5rem;
    color: black;
    margin-right: 0.5rem;
}

.topBar {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: 60px;

    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
    color: white;
    transition: left 0.3s ease, width 0.3s ease;
}

.topBar::before {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.topBarRight {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboardTitle {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
}

.timeInButton {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background-color: #97be41;
    color: white;
    border: none;
    padding: 0.2rem 1rem;
    cursor: pointer;
    font-size: large;
}

.timeInIcon {
    font-size: 1rem;
    color: white;
    margin-right: 1rem;
}

.verticalDivider {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: white;
    opacity: 0.5;
}

.horizontalDivider {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #b4b4b4;
    opacity: 0.5;
}

.navUserProfile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.userProfileIcon {
    font-size: 1.5rem;
    color: white;
}

.userEmail {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: medium;
    color: white;
    text-decoration: none;
}

.logoutIcon {
    font-size: 1.5rem;
    color: rgb(216, 59, 59);
}

.timed-in-active {
    background-color: #6c757d !important; /* grey when timed in */
    cursor: not-allowed;
}
